.CategoriesBoxContainer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 8px;
}

.categories {
    margin: 0 16px;
    color: #5f6368;
    font-weight: 500;
    font-size: 0.875rem;
}

