.commentBox {
    background-color: #fff ;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    margin-top: 100px;
}


.divider {
    height:1.5px;
    width:100%;
    background-color: gray;
    margin-bottom:20px;
    margin-top: 10px;
    position: relative;
}

.dividerColor {
    position: absolute;
    top: 0;
    width: 40%;
    background-color: red;
    height: 100%;
    z-index: 10;
}

.commentTitle {
    color:#374151;
    font-size: 18px;
    font-weight: 700;
}

.commentInputContainer {
    margin-top: 20px;

}

.commentInput {
    width:100%;
    padding:20px
}