.mainHeader {
    display: grid;
    grid-template-columns: auto  1fr auto ;
    padding: 8px;
}

.headerSearchContainer {
    margin: 0 auto;
    width: 700px;
    background-color: #F1F3F4;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.focusheaderSearchContainer {
    background-color: #fff;
    box-shadow:  1px 1px 10px gray ;
    transition: background-color 100ms ease-in,width 100ms ease-out;
}

.searchText {
    border: none;
    outline: none;
    margin-left: 1px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #000;
    font-size: 18px;
}

.searchText::placeholder {
    color: gray;
}

.mainHeaderContainer {
    border-bottom: 1px solid #dadce0;
}